.background_img
{
	background-image: url('Electronic-Digital-Thermometer-for-Oral-Use (1).jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-top: 10%;padding-bottom: 19%;
}
.outer_div
{
	text-align: center;border: 3px solid black;
	border-color: #2eb8b8;width:50%;
	margin-left: 25%;margin-right: 25%;opacity: 80%;
	font-size: 30px;background-color: #f5d902;
	font-family: sans-serif;color: #2eb8b8;
}
.inner_div
{
	margin: 3%;
}
.hidden_div
{
	display: none;margin: 3%;
}
.btn_deco
{
border: 2px solid black;border-color: #2eb8b8;
background-color:#a3c2c2;
font-size: 20px;padding: 2%;
 margin:2%;color: white;
outline: none;	
}
.inputbox_style
{
	height: 35px;border:2px solid black;
	border-color: #f59002;
	background-color: #f5deb4;font-size: 20px;
	outline: none;
}